<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="demoCRM-Admin Applicationtest Suite">
	<!-- <listeners> <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" 
		/> </listeners> -->

	<test name="Free admin demo Cases">
		<classes>
			<class name="com.adminnc.qa.tests.NCLoginTest" />
		</classes>
	</test>
</suite>

